# Python venv
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc

# Streamlit cache
.streamlit/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# PDF/temp files
uploaded.pdf
*.pdf

# Do NOT push API keys
*.env
.env
apikey.txt
